body {
    background-image: none;
}

#title-container {
    padding: 1%;
    border-bottom: 4px solid black;
    text-align: center; 
    width: 95%;
}

#title {
    font-size: 2em;
    font-family: custom-font;
}

#game-container {
    margin-top: 2%;
}

img {
    border: 4px solid #000;
    background-color: #fff;
    width: 35vw;
}

.draggable, .droppable {
    margin-bottom: 3%;
}

.draggable {
    z-index: 1000;
}

.correctAnimation {
    animation-duration: 0.2s;
    animation-name: correctEffect;
    animation-iteration-count: 5;
}

@keyframes correctEffect {
    from {
      background-color: rgba(0, 255, 0, 0);
    }
  
    to {
        background-color: rgba(0, 255, 0, 0.3);
    }
  }

.left {
    border-right: 4px solid black;
}